.bs-example{
    margin: 20px;
}

.img-header{
    width: 10%;
}
html {
    height:100%;
}
body {
  height:100%;
  background-image: linear-gradient(to bottom, rgba(221, 117, 117, 0.61), rgba(184, 62, 62, 0.918) );
  display: flex;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 1024px){
    .img-header{
        position: absolute;
        top: 5px;
        left: 100px;
    }
}